.section-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    /* padding: 0px 10px; */
    margin-top: 15px;
}

.card-album{

    margin-top: 18px;
}

.carAlbum-data{

    display: flex;
    gap: 40px;
    flex-wrap: wrap;

    }

    .toggleText{

          cursor: pointer;
          color: var(--color-primary);
    }

    .section-wrapper h3{

        color: var(--color-white);
    }