@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
  -webkit-font-smoothing: antialiased;
  background-color: #121212;
  background-color: var(--color-black);
  font-family: Poppins, sans-serif;
  line-height: 1.5;
  

}

:root {
  --color-primary: #34c94b;
  --color-black: #121212;
  --color-white: #ffffff;
}

*{

  margin: 0;
  box-sizing: border-box;
  
}

img{
  display: block;
  max-width: 100%;
}

p{
  color: var(--color-white);
}

.swiper-slide{

    width: auto !important;
}