

.hero-container{
    align-items: center;
    color: var(--color-white);
    display: flex;
    height: 16.875rem;
    justify-content: center;
   
    
}

.hero-section{

    display: flex;
    gap: 2rem;
    justify-content: center;
    width: 50rem;
    
}

p{
    overflow-wrap: break-word;
}

.hero-heading{

    align-items: center;
    display: flex;
    flex-direction: column;
    font-size:31px;
    font-weight: 600;
    justify-content: center;
}

.hero-img{
    height: 13.25rem;
    width: 13.25rem;
}





