.naav{
    align-items: center;
    background-color: var(--color-primary);
    display: flex;
    height: 74px;
    justify-content: space-between;
    padding: 0.62rem 1rem;
    position: relative;
    width: 100%;

    
   
}

.nav-logo{
    text-decoration: none;
}




