.nav{
    height: 74px;
    background-color:#34C94B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
   
}

.nav-logo img{
    margin: 14px;
    display: flex;
    height:67px;
    padding: 0 10px;
    cursor: pointer;
  
}


