.nav{
    height: 74px;
    background-color:#34C94B;
    display: flex;
    justify-content: space-between;
    
   
}

.nav-logo img{

    height:67px;
    padding: 0 10px;
    cursor: pointer;
  
}


